body {
	background-color: #659287;
}
        
    
img {
    width: 400px; 
    height: 400px; 
    border-radius: 50%; 
    border-style: inset
} 

h1 {
    color: #FFE6A9;

}
h3 {
    color: #B1C29E;
}
h2 {
    color: black;
}
    
hr {
    /* background-color:white; */
   /* background-color: aqua; */
   width: 30%;
   /* height: 2px; */
   border-style: dotted none none;
   border-color: #DEAA79;
   border-width: 15px;

}
table {
    border-collapse: collapse;
    /* border: 2px solid #B1C29E; */
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
     background-color: #DEAA79; 
  }
  
  th,
  td {
    /* border: 1px solid #B1C29E; */
    padding: 10px 12px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: #FFE6A9; 
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  



